

/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package com.bsi.sec.base;

/**
 *
 * @author igorV
 */
public class BaseTest {

    public BaseTest() {
    }
    public static final Long id = @id@;
    public static final String datasetname = "@datasetname@";
    public static final String acctname = "@acctname@";
    public static final String prodname = "@prodname@";
}
