<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info" monitorInterval="30">
  <Properties>
    <Property name="logdir">d:/w/git-local/sws/deployment/ws/logs</Property>
    <Property name="layout">%d{dd MMM yyyy HH:mm:ss,SSS}%5p (%c:%M:%L) - %m%n</Property>
  </Properties>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="${layout}"/>
    </Console>
    <RollingFile name="IGNLOG"
        fileName="${logdir}/ignite.log"
        filePattern="${logdir}/ignite.%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${layout}"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    <RollingFile name="CATALINA"
        fileName="${logdir}/catalina.log"
        filePattern="${logdir}/catalina.%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${layout}"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    <RollingFile name="AUTHWS"
        fileName="${logdir}/sws.log"
        filePattern="${logdir}/sws.%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${layout}"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="CATALINA"/>
    </Root>
    <Logger name="com.bsi.sec"
        level="debug" additivity="false">
      <AppenderRef ref="CONSOLE"/>
    </Logger>
    <Logger name="org.apache.ignite"
        level="debug" additivity="false">
      <AppenderRef ref="IGNLOG"/>
    </Logger>
  </Loggers>
</Configuration>